.container {
    /* margin: 0; */
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;
    display: grid;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
body {
    /* padding: 200px; */
    /* width: 70%; */
    /* border: solid 68px #bdbcb8; */
    /* margin: 0 auto; */
    min-height: 100vh;
    background: #bdbcb8;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.main-left div {
    word-wrap: break-word;
    position: relative;
    padding-left: 0px;
}

h2 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
    margin-top: 20px;
}

h5 {
    font-weight: bold;
}

h4::after {
    display: block;
    content: '';
    width: 90%;
    height: 2px;
    background-color: #a8a9ad;
}

a {
    color: black;
    text-decoration: underline;
}

.container-fluid {
    background-color: red;
}

.main-left {
    /* width: 60%; */
    /* margin: 0 auto; */
    position: relative;
    background-color: #d0cecf;
    padding: 40px;
}

.contact-sub div {
    margin-top: -10px;
}

.contact-sub {
    margin-bottom: 20px;
}


.row .avatar {
    width: 30%;
    margin-bottom: 18px;
    box-sizing: border-box;
}


.main-left .avatar {
    width: 100%;
    height: 20%;
    margin-left: 0px;
}

.main-left .avatar img {
    width: 100%;
    height: 100%;
}

.name {
    margin: 0 auto;
}

#lastname {
    color: #eb7b2f;
}

.main-left .languages ol {
    list-style-type: none;
    position: relative;
    padding-left: 0;
}

.hobbies {
    clear: both;
}

.main-right h4::after {
    width: 100%;
}

.main-right {
    /* width: 40%; */
    /* height: 100%; */
    position: relative;
    padding: 40px;
    padding-bottom:100px;
    background-color: #ffffff;
}

